@use '../2-atoms/a-mixins' as *;

.opportunity-enable-claim {
    border: 1px solid var(--mc-gray-300);
    max-width: size(1038);
    border-radius: size(8);
    padding: size(16) size(24) size(16) size(24);

    &__email {
        padding: size(24) 0;
    }

    &__send {
        font-family: Open Sans;
        font-size: size(14);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__title {
        padding-bottom: size(8);
    }

    &__input {
      
        padding: 0 0 size(15);

        input[type="checkbox"] {
            width: size(16);
        }
    }

    &__save {
        display: flex;
        flex-direction: row;
        gap: size(24);

        input[type="text"] {
            max-width: size(499);
            height: size(48);
            width: 100%;
            border-radius: size(4);
            border: var(1) solid var(--mc-gray-300);

        }

        button {
            width: size(115);
            padding: size(12);
        }
    }

    &__label {
        font-size: size(16);
        font-family: Open Sans;
        font-weight: 600;
    }

    &__subtitle {
        padding-bottom: size(8);
    }

}